<div class="bg-primary py-4">
    <h1 class="text-center">
        Diestel-Leader Group word length calculator
    </h1>
</div>
<div>
    <div class="text-center">
        <h1>
            <big class="pr-0"><big><big><big style="font-family: serif; margin-right: -1rem;">
                &Gamma;
            </big></big></big></big>
            <sub>
                <input id="d" type="text" placeholder="d" pattern="[1-9]" maxlength="1" class="bg-secondary text-center text-info" style="width: 1em; border: 0;" onclick="this.select()" onchange="dChange(this.value)"/>
            </sub>
            <big>
                (
                    <input id="q" type="text" placeholder="q" pattern="[1-9]" maxlength="1" class="bg-secondary text-center text-info" style="width: 1em; border: 0;" onclick="this.select()" onchange="qChange(this.value)"/>
                )
            </big>
        </h1>

        <div id='projection-input' class="mt-4">
            <%= render partial: 'projection_input.html', locals: { d: d, q: q } %>
        </div>
    </div>
</div>
<footer class="footer bg-secondary">
    <div class="footer-container">
        <div class="pt-4">
            Stein, M., and Taback, J. <a href="https://arxiv.org/abs/1202.4199v2" target="_blank">Metric properties of Diestel-Leader groups.</a> Michigan
    Math. J. 62, 2 (2013), 365–386.<br/> 
        </div>
    </div>
</footer>