<div class="bg-primary py-4">
    <h1 class="text-center">
        Diestel-Leader Group word length calculator
    </h1>
</div>
<div>
    <div class="text-center">
        <h1>
            <big><big><big><big>
                &Gamma;
            </big></big></big></big>
            <sub>
                <input id="d" type="number" min="1" max="9" class="bg-secondary text-center text-info" style="width: 1em;">
            </sub>
            <big><big>
                (
                    <input id="q" type="number" min="1" max="9" class="bg-secondary text-center text-info" style="width: 1em;">
                )
            </big></big>
        </h1>
    </div>
</div>